@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

//transparent
$transparent: transparent;

//colors
$black: #000000;
$green: #198C19;
$lightblue: #2196F3;
$lightgrey: #E9EBEE;
$backgroundGrey: rgb(26, 72, 141);
$oceanblue: #3767AD;
$white: #FFFFFF;
$orange:#E59400;
//fonts
$robotoFont: 'Roboto Mono', monospace;

//resolution for media query
$telephone: 640px;
$tablet: 1024px;

//link style hover
$hoverStyleLink: $orange solid 2px;  