@import "_normalize";
@import "_variables";
@import "navigation";
@import "startpage";
@import "players";
@import "messages";


body {
    background-color: $lightgrey;
    height: 100vh;
    font-family: $robotoFont;
}

.header {
    grid-area: header;
    background: $green;
    padding: 0;
  }

.site-header {
    background: $green;
    box-sizing: border-box;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    @media (max-width: $telephone) {
      min-height: 48px;
    }
}
  
.main {
    grid-area: content;
    display: grid;
    grid-template-areas:
        "header header header header header"
        ". containerLeft containerCenter containerRight .";
    grid-template-columns: 1fr 0.7fr 1.8fr 0.7fr 1fr;
    grid-gap: 8px;

    margin: 0 auto;

    @media (max-width: $telephone) {
        min-height: 48px;
        max-width: 900px;
      }

      @media (max-width: $tablet) {
        min-height: 48px;
      }
}

.containerLeft {
    grid-area: containerLeft;
    background-color: silver;
}
.containerRight {
    grid-area: containerRight;
    background-color: brown;
}
.containerCenter {
    grid-area:  containerCenter;
    background-color: goldenrod;
    display: flex;
}