.site-header {
    background: $green;
    box-sizing: border-box;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    @media (max-width: $telephone) {
      min-height: 48px;
    }
  }
  
  .navigation {
    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      @media (max-width: $telephone) {
        flex-direction: column;
        display: none;
        &--visible {
          display: flex;
        }
      }
    }
  
    &__item {
      display: block;
      margin: 0 16px;
      @media (max-width: $telephone) {
        margin: 16px;
      }
    }
  
    &__link {
      color: $lightgrey;
      text-decoration: none;
  
      &:hover {
        color: $orange;
        border-bottom: $hoverStyleLink; 
      }
    }
    &__switcher {
  
      @media (min-width: $telephone) {
        display: none;
      }
  
      @media (max-width: $telephone) {
        border: none;
        background: none;
        position: absolute;
        right: 16px;
        top: 16px;
        color: $white;
      }
    }
  }
  
  


.navbar {
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
    background-color: #198C19;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: -1px 9px 19px -8px rgb(0, 0, 0.5);


}

.navbar-brand {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10%;
}
.navbar-brand a {
    padding: 5px;

}
.navbar-brand a:hover {
    padding: 5px;
    border-radius: 25px;
    color: #198C19;
    background-color: #FFFFFF;
}

.navbar-brand img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.navbar-toggler{
    display: none;
}

#navbarNav {
    display: inline-block;
    width: 80%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    width: 100%;
    top: 0;
    padding: 0;
    padding-left: 15%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    border-bottom: 0;
    padding: 0;
    width: 100px;
}

.nav-item .nav-link a:hover {
    padding: 0;
    color: #000000;
    background: none;
}

.active a {
    color: #000000;
}
.last-item {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;;
}

.navbar-right {
    width: 10%;
    display: inline-block;

}
.main-page{
    margin-top: 4%;
    width: 100%;
}

.list-group {
    width: 100%;
}

.list-group-item { 
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px #D3D3D3 solid;
    padding: 5px;
    width: 90%;
    margin: 5px;
    margin-left: 5%;    
    font-size: 1.2rem;
}

/*Style for desktop*/
@media (max-width: 40em) {

    .navbar {
        width: 100%;
        background-color: #198C19;
        text-align: center;
        font-size: 1.6rem;
    }
    
    .navbar-brand {
        font-size: 1.8rem;
    }
    .navbar-brand a {
        padding: 5px;
    }
    .navbar-brand a:hover {
        padding: 5px;
        border-radius: 25px;
        color: #198C19;
        background-color: #FFFFFF;
    }
    
    .navbar-brand img{
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }
    
    
    .navbar-toggler {
        background: none;
        background-color: #198C19;
        border: 1px solid #FFFFFF;
    }
    
    .fa-reorder {
        font-size:20px;
    }
    
    .navbar-default {
        width: 60%;
    }
    
    .navbar-nav {
        width: 100%;
        align-content: center;
    }
    .nav-item {
        color: #E9EBEE;
        border-bottom: 1px solid #E9EBEE;
        padding: 10px;
    }
    .active a {
        color: #000000;
    }
    
    .nav-item:last-child {
        border-bottom: none;
        cursor: pointer;
    }
    
    .nav-item .nav-link a:hover {
        color: #000000;
    }
    
    .nav-item Link {
        color: #198C19;
    }
    
    .last-item {
        margin-right: 25%;
        margin-left: 25%;
        margin-top: 5px;
        padding: 1px;
        background-color: #DC3545;
        border-radius: 25px;
    }
    .last-item:hover {
        color: #000000;
    }
}