/*Style dla Sportowcy -> dane */
.card-header {
    text-align: left;
    padding: 5px;
    margin: 0;
    background-color: #E9EBEE;
    border-bottom: 1px #D3D3D3 solid;
    border-top: 1px #D3D3D3 solid;
}

.card-title {
    padding: 1px;
    background-color: #eceeef;
    color: #198C19; 
    text-align: center;
}
