/*Style for login and register page*/

.main-login {
    height: 100vh;
    background: url('../image/tartan-track-2678544_1920.jpg');

    @media (max-width: $telephone) {
      background: $lightgrey;
      width: 100%;
      margin-top: 50px;
    }
}



.auth {
  background-color: $lightgrey;
  border-radius: 8px;
  width: 16%;
  padding: 16px;
  align-content: center;
  margin: auto;
  font-size: 1.2rem;
  @media (max-width: $telephone) {
    width: 80%;
    margin: 4% auto 4% auto;
    padding: 0;
  }

  &__button {
    width: 100%;
    border: none;
    margin: 10% auto 2% auto;
    text-transform: uppercase;
    padding: 8px;

    &--login {
      background: $green;
      color: $white;
    }

    &--signup {
      background: $lightgrey;
    }
  }

  &__header {
    text-align: center;
    font-size: 2rem;
    color: #198c19;
    padding: 8px;
  }
  
  &__input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-content: center;
    margin: 2% auto 2% auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background-color: $green;
  color: $white;
}